@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: Open Sans, Noto Sans JP, sans-serif; */
  --tw-bg-opacity: 1;
  background-color: rgb(4 14 33 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  letter-spacing: 0.025em;
}

body,
html {
  overflow-x: hidden;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.bg-root-hero-sp {
  background-image: url(/Images/root_hero_bg_sp.jpg);
}

.animate-pulseMotion {
  animation: pulseMotion 1.4s linear infinite;
}

.bg-transparent {
  background-color: transparent;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

element.style {
  width: 401.667px;
  margin-right: 4px;
}

.swiper-pointer-events {
  touch-action: pan-y;
}

.swiperHeightAuto {
  height: auto !important;
}

.h-full {
  height: 100%;
}

.-rotate-55,
.rotate-90 {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-rotate-55 {
  --tw-rotate: -55deg;
}

.shadow-header-inset,
.shadow-header-normal {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-header-normal {
  --tw-shadow: 4px 4px 32px rgba(0, 0, 0, 0.25);
  --tw-shadow-colored: 4px 4px 32px var(--tw-shadow-color);
}

.shadow-root-works-wrapper {
  --tw-shadow: 4px 4px 8px #040e21;
  --tw-shadow-colored: 4px 4px 8px var(--tw-shadow-color);
}

.shadow-root-works-inner,
.shadow-root-works-wrapper {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-root-works-inner {
  --tw-shadow: -4px -4px 8px #3c4961;
  --tw-shadow-colored: -4px -4px 8px var(--tw-shadow-color);
}

/* *,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
} */

.bg-root-sustainability {
  background-image: url(/images/root_sustainability_bg.jpg);
}

.bg-root-recruit-sp {
  background-image: url(/images/root_recruit_bg_sp.jpg);
}

@keyframes pulseMotion {
  0% {
    transform: scale(1);
    background-color: hsla(0, 0%, 100%, 0.4);
  }
  100% {
    transform: scale(6.5);
    background-color: hsla(0, 0%, 100%, 0);
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .sm\:bg-root-hero-pc {
    background-image: url(/images/root_hero_bg_pc.jpg);
  }
  .sm\:bg-center {
    background-position: 50%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .md\:min-h-\[96px\] {
    min-height: 96px;
  }
  .md\:w-\[calc\(399px\*3\+8px\*2\)\] {
    width: calc(399px * 3 + 8px * 2);
  }
  .md\:bg-root-recruit-pc {
    background-image: url(/images/root_recruit_bg_pc.jpg);
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .xl\:h-screen {
    height: 100vh;
  }
  .xl\:rootAboutWrapper {
    display: grid;
    grid-template-columns: 456px 120px 1fr;
    grid-template-areas:
      'title _ text'
      'button _ text';
  }
  .xl\:rootAboutText {
    grid-area: text;
  }
  .xl\:rootAboutButton {
    grid-area: button;
  }
  .xl\:rootAboutTitle {
    grid-area: title;
  }
}

.fixed-height-p {
  min-height: 70px;
}
